* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  background: #333;
  color: #f4f4f4;
  margin: auto;
  font-family: 'Sen', sans-serif; 
}
.container{
    margin: auto;
}
.bg1{
    background: red;
}

.container > div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  height: 800px;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}
.container > div:nth-child(1) {
    
}
i{
    font-size: 30px;
}
